<nav class="navigation">
  <div class="navigation__container">
    <a routerLink="home" class="navigation__container-brand">
      BRAND
    </a>
    <ul class="navigation__container-menu">
      <li class="navigation__container-menu-item">
        <a routerLink="home" class="navigation__container-menu-item-link">
          HOME
        </a>
      </li>
      <li class="navigation__container-menu-item">
        <a routerLink="planets" class="navigation__container-menu-item-link">
          PLANETS
        </a>
      </li>
      <li class="navigation__container-menu-item">
        <a routerLink="about-us" class="navigation__container-menu-item-link">
          ABOUT US
        </a>
      </li>
      <li class="navigation__container-menu-item">
        <a routerLink="contact" class="navigation__container-menu-item-link">
          CONTACT
        </a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
